.recipe {
  /* max-width: 1200px; */
  max-width: 100vw;
  /* display: flex; */
  margin: 20px;
  /* text-align: center; */
  background: #fff;
  padding: 20px;
  box-sizing: border-box;
}
.recipe ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: center;
  margin-top: 0;
}
.recipe li {
  /* list-style-type: none; */
  /* margin-right: 10px; */
  margin-left: 30px;
  color: #777;
}
.recipe li::after {
  content: ",";
}
.recipe li:last-child::after {
  content: ".";
}
.instructions {
  text-align: left;
  line-height: 1.5em;
}

@media (min-width: 1024px) {
  .recipe {
    margin: 30px;
    
  }
  
}

@media (min-width: 1248px) {
  .recipe {
    margin: 30px auto;
    max-width: 1200px;
  }
}