.navbar {
  /* background: #58249c; */
  background: #851616;
  padding: 20px;
  color: #fff;
}
.navbar.vintageFx {
  box-shadow:0px 0px 10px 3px rgba(0,0,0,0.4), inset 0px 0px 10px 4px #422407;
  z-index: 9;
}
.navbar nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}
.navbar a.brand {
  /* margin-right: auto; */
  color: #fff;
  text-decoration: none;
  text-shadow:4px 4px 14px rgba(0,0,0,0.8);
}
.navbar a:last-child {
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  /* align-items: center; */
  /* margin-left: 40px; */
  padding: 8px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.navbar a:last-child:hover {
  background: #fff;
  /* color: #58249c; */
  color: #851616;
}
.navbar .btn {
  box-shadow:8px 8px 20px 0px rgba(0,0,0,0.5);
}

/* MEDIA QUERIES */

@media (min-width: 1024px) {
  .navbar nav {
    flex-direction: row;
    justify-content: space-between;
  }
}