.recipe-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 20px;
  padding-bottom: 1em;
}
.recipe-list .card {
  /* background: #fff; */
  background: var(--secondary-white);
  color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
}
.recipe-list .card:hover {
  transform: rotate(3deg);
}
.recipe-list .card h3 {
  color: #555;
  /* margin-bottom: 6px; */
  
}
.recipe-list .card p {
  color: #999;
  /* font-size: 0.9em; */
  padding-bottom: 0.3em;
}
.recipe-list .card div {
  color: #555;
  /* font-size: 0.7em; */
  margin: 20px 0;
  line-height: 1.5em;
}
.delete {
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  filter: invert(50%);
}

/* PRETTY RIBBON */
.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  /* z-index: -1; */
  content: '';
  display: block;
  border: 5px solid #422407;
}
.ribbon span {
  position: absolute;
  display: block;
  width: 225px;
  padding: 15px 0;
  background-color: #851616;
  box-shadow: 0 5px 10px rgba(0,0,0,.1), inset 0px 0px 22px 3px #422407;
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
  text-transform: uppercase;
  text-align: center;
}

/* top right*/
.ribbon-top-right {
  top: -10px;
  right: -10px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}
.ribbon-top-right::before {
  top: 0;
  left: 0;
}
.ribbon-top-right::after {
  bottom: 0;
  right: 0;
}
.ribbon-top-right span {
  left: -25px;
  top: 30px;
  transform: rotate(45deg);
}

.recipe-list .pattern {  
	height: 80%;  
  /* padding-right: 3px; */
	background-image: repeating-linear-gradient(var(--secondary-white) 0px, var(--secondary-white) 34px, teal 35px);
}
.recipe-list .vintageFx {
  box-shadow:0px 0px 12px 0px rgba(0,0,0,0.4), inset 0px 0px 10px 3px #422407;
  /* border-radius: 4px; */
}

/* DARK MODE */
.recipe-list .card.dark {
  background: var(--primary-white);
}

.recipe-list .pattern.dark {
  background-image: repeating-linear-gradient(var(--primary-white) 0px, var(--primary-white) 34px, teal 35px);
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .recipe-list {
    grid-template-columns: 1fr 1fr;
  } 
}

@media (min-width: 1024px) {
  /* .recipe-list {
    grid-template-columns: 1fr 1fr 1fr;
  }  */
}