.recipe-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  /* max-width: 1200px; */
  max-width: 100%;
  margin: 20px;
}
.recipe-list .card {
  /* background: #fff; */
  background: antiquewhite;
  color: #333;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  position: relative;
}
.recipe-list .card:hover {
  transform: rotate(3deg);
}
.recipe-list .card h3 {
  color: #555;
  margin-bottom: 6px;
}
.recipe-list .card p {
  color: #999;
  font-size: 0.9em;
}
.recipe-list .card div {
  color: #555;
  font-size: 0.7em;
  margin: 20px 0;
  line-height: 1.5em;
}
.recipe-list .card a {
  color: #555;
  text-decoration: none;
  display: block;
  background: #e2e2e2;
  font-size: 0.9em;
  width: 100px;
  text-align: center;
  width: 120px;
  padding: 8px;
  border-radius: 4px;
  margin: 20px auto 0;
}
.recipe-list .pattern {  
	height: 80%;  
  /* padding-right: 3px; */
	background-image: repeating-linear-gradient(antiquewhite 0px, antiquewhite 30px, teal 31px);
}
.recipe-list .vintageFx {
  box-shadow:0px 0px 12px 0px rgba(0,0,0,0.4), inset 0px 0px 10px 3px #7b6148;
  /* border-radius: 4px; */
}

@media (min-width: 768px) {
  .recipe-list {
    grid-template-columns: 1fr 1fr;
  } 
}

@media (min-width: 1024px) {
  .recipe-list {
    grid-template-columns: 1fr 1fr 1fr;
  } 
}